html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.inputfieldblock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputfield{
    display: flex;
    align-items: center;
    justify-content:center
}
.container {
    background-color: #ffdada;
    padding-bottom: 15px;
    
  }
  #height,
  #weight {
    width: 90px;
    height: 20px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
  }

  label{
    font-weight: 700;
    font-style: italic;
  }

  #weight-guide {
    margin-top: 20px;
  }
  form{
    background-color: #ecccf8;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin:auto;
  } 

  #results {
    font-size: 35px;
    margin: 20px;
    color: rgb(213, 68, 68);
    text-align: center;
    width: fit-content;
    padding: 5px;
  }
  .results {
    
    font-size: 35px;
    margin: 20px;
    color: rgb(213, 68, 68);
    text-align: center;
    width: fit-content;
    padding: 5px;
  }

  button {
    text
    width: 150px;
    height: 35px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    font-size: 25px;
  }
  
  h2 {
    background-color: #37b4b0;
    text-align: center;
    padding: 5px;
    color: aliceblue;
  }
  
 